# Ignore Rider's specific files and directories
odysseyAnalytics/.idea/

# Ignore build directories
odysseyAnalytics/bin/
odysseyAnalytics/obj/

# Ignore user-specific files
odysseyAnalytics/*.user
odysseyAnalytics/*.userosscache
odysseyAnalytics/*.suo
odysseyAnalytics/*.userprefs

# Ignore Windows Installer files
odysseyAnalytics/*.cab
odysseyAnalytics/*.msi
odysseyAnalytics/*.msm
odysseyAnalytics/*.msp

# Ignore package directory
odysseyAnalytics/packages/

# Ignore logs
odysseyAnalytics/*.log

# Ignore compiled assemblies and .dll files
odysseyAnalytics/*.dll
odysseyAnalytics/*.exe
odysseyAnalytics/*.pdb

# Ignore Visual Studio files
odysseyAnalytics/.vs/

# Ignore IntelliJ IDEA files
odysseyAnalytics/*.iml

# Ignore JetBrains Rider's cache files
odysseyAnalytics/.idea/

# Ignore NuGet package files
odysseyAnalytics/*.nupkg
